<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'QuestStats' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
          <ion-card-title translate>PlayerStats</ion-card-title>
        </ion-item>
      <ion-card-content>
        <p><b>{{ 'Level' | translate }}: </b>{{questStats.level}}</p>
        <p><b>{{ 'EXP' | translate }}: </b>{{questStats.exp}}</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item>
          <ion-card-title translate>GameProgress</ion-card-title>
        </ion-item>
      <ion-card-content>
        <p><b>{{ 'World' | translate }}: </b>{{questStats.world}}</p>
      </ion-card-content>
    </ion-card>
</ion-content>
