<ion-header>
  <ion-toolbar>
    <ion-title>
      Quest Stats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
          <ion-card-title>Player Stats</ion-card-title>
        </ion-item>
      <ion-card-content>
        <p><b>Level: </b>{{questStats.level}}</p>
        <p><b>EXP: </b>{{questStats.exp}}</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item>
          <ion-card-title>Game Progress</ion-card-title>
        </ion-item>
      <ion-card-content>
        <p><b>World: </b>{{questStats.world}}</p>
      </ion-card-content>
    </ion-card>
</ion-content>
