<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item (click)="installPrompt()" lines="full">
      <ion-icon slot="start" name="download"></ion-icon>
      <ion-label>Install</ion-label>
  </ion-item>
  <ion-item lines="full">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>
        <span>Version </span>
        <span>0.0.6</span>
      </ion-label>
  </ion-item>
</ion-content>
