<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1" (click)="dismiss()"></ion-back-button>
    </ion-buttons>
    <ion-title>Quest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="medium">
        <ion-item color="medium">
          <ion-card-title>Battle</ion-card-title>
        </ion-item>
      <ion-card-content>
        <p><b>World: </b>{{questStats.world}}</p>
      </ion-card-content>
    </ion-card>
    <ion-card color="danger">
        <ion-item color="danger">
          <ion-card-title>{{enemyName}}</ion-card-title>
        </ion-item>
      <ion-card-content>
        <p><b>HP: </b>{{enemyHP}}</p>
        <p><b>Attack: </b>{{enemyAttack}}</p>
      </ion-card-content>
    </ion-card>
    <ion-card color="success">
        <ion-item color="success">
          <ion-card-title>Player</ion-card-title>
        </ion-item>
      <ion-card-content>
        <p><b>HP: </b>{{questStats.hp}}</p>
        <p><b>Level: </b>{{questStats.level}}</p>
        <p><b>EXP: </b>{{questStats.exp}}</p>
      </ion-card-content>
    </ion-card>
    <ion-card color="secondary">
        <ion-item color="secondary">
          <ion-card-title>Your Attack</ion-card-title>
          <ion-button fill="solid" color="danger" slot="end" (click)="attack()">
              <ion-icon name="arrow-round-up"></ion-icon>
          </ion-button>
        </ion-item>
      <ion-card-content>
          <ion-input [(ngModel)]="playerAttack" placeholder="Term"></ion-input>
      </ion-card-content>
    </ion-card>
</ion-content>
