<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="{{ 'Back' | translate }}" defaultHref="/tabs/tab1" (click)="dismiss()"></ion-back-button>
        </ion-buttons>
    <ion-title translate>SetDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-item lines="none">
        <ion-card-title><ion-input id="titleInput" (keydown)=onKeydownEvent($event) placeholder="{{ 'Title' | translate }}" [(ngModel)]="title"></ion-input></ion-card-title>
      </ion-item>
  </ion-card>

    <ion-card *ngFor="let card of cards">
        <ion-item>
          <ion-card-title><ion-input (keydown)=onKeydownEvent($event) placeholder="{{ 'Term' | translate }}" [(ngModel)]="card.term"></ion-input></ion-card-title>
          <ion-button fill="outline" color="danger" slot="end" (click)="removeCard(card)">
              <ion-icon name="remove"></ion-icon>
          </ion-button>
        </ion-item>
      <ion-card-content>
          <ion-textarea (keydown)=onKeydownEvent($event) rows="10" cols="10" placeholder="{{ 'Definition' | translate }}" [(ngModel)]="card.definition"></ion-textarea>
      </ion-card-content>
    </ion-card>

    <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin" (click)="addTerm()" translate>AddTerm</ion-button>
    </div>
    <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin" (click)="save()" translate>Save</ion-button>
    </div>
    <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin" (click)="import()" translate>Import</ion-button>
    </div>
    <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin" (click)="export()" translate>Export</ion-button>
    </div>

</ion-content>
